@model IEnumerable<CrudApiAspNetCoreSql.Models.User>

@{
    ViewData["Title"] = "Index";
}

<body onload="$dc.loadTitle('User - Index', '#divTitle');">
    <hr />

    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Full Name
                </th>
                <th>
                    Name
                </th>
                <th class="displayNoneMax768">
                    Email
                </th>
                <th class="displayNoneMax768">
                    Create Date
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserFullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td class="displayNoneMax768">
                        @Html.DisplayFor(modelItem => item.UserEmail)
                    </td>
                    <td class="displayNoneMax768">
                        @Html.DisplayFor(modelItem => item.UserCreateDate)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.UserId">    <i class="fa fa-pencil-alt fa-sm"></i></a>
                        <a asp-action="Details" asp-route-id="@item.UserId"> <i class="fa fa-search fa-sm"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.UserId">  <i class="fa fa-trash-alt fa-sm"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>