@model CrudApiAspNetCoreSql.Models.MenuItem

@{
    ViewData["Title"] = "Details";
}

<body onload="$dc.loadTitle('Menu Item - Details', '#divTitle');">
    <hr />

    <dl class="row">
        <dt class="col-sm-2 text-right">
            ID:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MenuItemID)
        </dd>
        <dt class="col-sm-2 text-right">
            Short Name:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MenuItemShortName)
        </dd>
        <dt class="col-sm-2 text-right">
            Name:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MenuItemName)
        </dd>
        <dt class="col-sm-2 text-right">
            Description:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MenuItemDescription)
        </dd>
        <dt class="col-sm-2 text-right">
            Small Portion Name:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MenuItemSmallPortionName)
        </dd>
        <dt class="col-sm-2 text-right">
            Large Portion Name:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MenuItemLargePortionName)
        </dd>
        <dt class="col-sm-2 text-right">
            Price Small:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MenuItemPriceSmall)
        </dd>
        <dt class="col-sm-2 text-right">
            Price Large:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MenuItemPriceLarge)
        </dd>
        <dt class="col-sm-2 text-right">
            Category:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MenuItemCategory.CategoryName)
        </dd>
    </dl>

    <div class="images text-center">
        <div class="container">
            <p>Image</p>
        </div>

        @{
            string nameFile = "No image selected";

            if (!String.IsNullOrEmpty(Model.MenuItemImagePath))
            {
                nameFile = Model.MenuItemImagePath;
            }

            <span id="msgErrorInput" class="col-12">@nameFile</span><br /><br />
        }

        @{
            string imagePathLoad = "noImageFound.jpg";

            if (!String.IsNullOrEmpty(Model.MenuItemImagePath))
            {
                imagePathLoad = Model.MenuItemImagePath;
            }
            <img class="img-fluid img-thumbnail imgMenuItem" src="~/images/menuItem/@imagePathLoad" />
        }

    </div>

    <div>
        <a asp-action="Edit" asp-route-id="@Model.MenuItemID" class="btn btn-primary">Edit</a>
    </div>
    <div class="marginTop10px">
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</body>