@model IEnumerable<CrudApiAspNetCoreSql.Models.MenuItem>

@{
    ViewData["Title"] = "Index";
}

<body onload="$dc.loadTitle('Menu Item - Index', '#divTitle');">
    <hr />

    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>

    <form asp-action="Index" method="get">
        <div class="form-group">
            <p>
                Find by Name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                <input type="submit" value="Search" class="btn btn-secondary" />
                <a asp-action="Index">Back to Full List</a>
            </p>
        </div>
    </form>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["IdSortParm"]">ID</a>
                </th>
                <th>
                    Short Name
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">Name</a>
                </th>
                <th class="displayNoneMax768 displayNoneMax992">
                    Description
                </th>
                <th class="displayNoneMax768 displayNoneMax992">
                    Small Portion Name
                </th>
                <th class="displayNoneMax768 displayNoneMax992">
                    Large Portion Name
                </th>
                <th class="displayNoneMax768">
                    Price Small
                </th>
                <th class="displayNoneMax768">
                    Price Large
                </th>
                <th class="displayNoneMax768 displayNoneMax992">
                    Category ID
                </th>
                <th class="displayNoneMax768">
                    Category Name
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MenuItemID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MenuItemShortName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MenuItemName)
                    </td>
                    <td class="displayNoneMax768 displayNoneMax992">
                        @Html.DisplayFor(modelItem => item.MenuItemDescription)
                    </td>
                    <td class="displayNoneMax768 displayNoneMax992">
                        @Html.DisplayFor(modelItem => item.MenuItemSmallPortionName)
                    </td>
                    <td class="displayNoneMax768 displayNoneMax992">
                        @Html.DisplayFor(modelItem => item.MenuItemLargePortionName)
                    </td>
                    <td class="displayNoneMax768">
                        @Html.DisplayFor(modelItem => item.MenuItemPriceSmall)
                    </td>
                    <td class="displayNoneMax768">
                        @Html.DisplayFor(modelItem => item.MenuItemPriceLarge)
                    </td>
                    <td class="displayNoneMax768 displayNoneMax992">
                        @Html.DisplayFor(modelItem => item.MenuItemCategory.CategoryId)
                    </td>
                    <td class="displayNoneMax768">
                        @Html.DisplayFor(modelItem => item.MenuItemCategory.CategoryName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.MenuItemID">    <i class="fa fa-pencil-alt fa-sm"></i></a>
                        <a asp-action="Details" asp-route-id="@item.MenuItemID"> <i class="fa fa-search fa-sm"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.MenuItemID">  <i class="fa fa-trash-alt fa-sm"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>