

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Restaurant API</title>

    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/Styles.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
</head>
<body>
    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>

            <div id="footerDiv" class="row">
                <div id="itemLeftFooterDiv">
                    <p>&copy; 2021 - Restaurant API</p>
                </div>
                <div id="itemRightFooterDiv">

                    @*@if (User.Identity.IsAuthenticated)
                    {
                        <div>
                            User: <span>@User.Identity.Name &nbsp;&nbsp;&nbsp;</span>
                            @Html.ActionLink("Log Off", "Logoff", "Token", null, new { @class = "btn btn-outline-danger btn-sm" })
                        </div>
                    }*@
                </div>
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/js/jquery.inputmask.js"></script>
    <script src="~/js/Script.js"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
