@model CrudApiAspNetCoreSql.Models.Category

@{
    ViewData["Title"] = "Delete";
}


<body onload="$dc.loadTitle('Category - Delete', '#txtTitle');">
    <hr />

    <h3>Are you sure you want to delete this?</h3>

    <div class="marginTop20px">        
        <hr />
        <dl class="row">
            <dt class="col-sm-2 text-right">
                Short Name:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CategoryShortName)
            </dd>
            <dt class="col-sm-2 text-right">
                Name:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CategoryName)
            </dd>
            <dt class="col-sm-2 text-right">
                Special Instructions:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CategorySpecialInstructions)
            </dd>
            <dt class="col-sm-2 text-right">
                Url:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CategoryUrl)
            </dd>
            <dt class="col-sm-2 text-right">
                Create Date:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CategoryCreateDate)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="CategoryId" />
            <input type="submit" value="Delete" class="btn btn-danger" />
        </form>
        <div class="marginTop10px">
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</body>