@model CrudApiAspNetCoreSql.Models.Category

@{
    ViewData["Title"] = "Details";
}


<body onload="$dc.loadTitle('Category - Details', '#divTitle');">
    <hr />

    <div>
        <dl class="row">
            <dt class="col-sm-2 text-right">
                Short Name:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CategoryShortName)
            </dd>
            <dt class="col-sm-2 text-right">
                Name:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CategoryName)
            </dd>
            <dt class="col-sm-2 text-right">
                Special Instructions:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CategorySpecialInstructions)
            </dd>
            <dt class="col-sm-2 text-right">
                Create Date:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CategoryCreateDate)
            </dd>
        </dl>
    </div>

    <div class="images text-center">
        <div class="container">
            <p>Image</p>
        </div>

        @{string pathImage = "images/menu/" + Model.CategoryShortName + "/" + Model.CategoryShortName + ".jpg";}
        <img class="img-fluid img-thumbnail imgCategory" src="~/@pathImage"/>
    </div>

    <div>
        <a asp-action="Edit" asp-route-id="@Model.CategoryId" class="btn btn-primary">Edit</a>
    </div>
    <div class="marginTop10px">
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</body>