@model IEnumerable<CrudApiAspNetCoreSql.Models.Category>

@{
    ViewData["Title"] = "Index";
}


<h1 class="text-center">Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-striped">
    <thead  class="thead-dark">
        <tr>
            <th>
                ID
            </th>
            <th>
                Short Name
            </th>
            <th>
                Name
            </th>
            <th>
                Special Instructions
            </th>
            <th>
                Url
            </th>
            <th>
                Create Date
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryShortName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategorySpecialInstructions)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryCreateDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoryId">    <i class="fa fa-pencil-alt fa-sm"></i></a>
                    <a asp-action="Details" asp-route-id="@item.CategoryId"> <i class="fa fa-search fa-sm"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.CategoryId">  <i class="fa fa-trash-alt fa-sm"></i></a>
                </td>                
            </tr>
        }
    </tbody>
</table>
