@model IEnumerable<CrudApiAspNetCoreSql.Models.MenuItem>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                Description
            </th>
            <th>
                Large Portion Name
            </th>
            <th>
                Name
            </th>
            <th>
                Price Large
            </th>
            <th>
                Price Small
            </th>
            <th>
                Short Name
            </th>
            <th>
                Small Portion Name)
            </th>
            <th>
                Category ID
            </th>
            <th>
                Category Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MenuItemDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MenuItemLargePortionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MenuItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MenuItemPriceLarge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MenuItemPriceSmall)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MenuItemShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MenuItemSmallPortionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MenuItemCategory.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MenuItemCategory.CategoryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MenuItemID">    <i class="fa fa-pencil-alt fa-sm"></i></a> |
                <a asp-action="Details" asp-route-id="@item.MenuItemID"> <i class="fa fa-search fa-sm"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.MenuItemID">  <i class="fa fa-trash-alt fa-sm"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
